@charset "utf-8";

/*header*/
.util_menu_wrap{ background: #0044AF; }
.util_menu{ width: 1200px; margin: 0 auto; }
.util_menu .left{float: left;}
.util_menu .right{float: right;}

.util_menu .left li{float: left;width: 120px;margin-right: 5px;}
.util_menu .left li a{
	display: block; line-height:40px;
	text-align: center; background: #00163b;
	color:#fff; font-weight: bold;
}
.util_menu .left li a.active{background: white; color: #333;}
/*액티브 되어 있기 떄문에 계쏙 하얀배경에 글자 333으로ㅠ고정되어 있음
보여주기용으로 화ㅏ면 표시할때 스타일시트값이먹어져있음 본인사이트유지용*/
.util_menu .left li a:hover{background: white; color: #333;}

.util_menu .right li{float: left; color:#fff; font-size:0.8em;}
.util_menu .right li a{
	display: block; line-height:40px;
	padding: 0 10px; color: #fff;
}
.util_menu .right li:first-child{line-height:40px; padding-right: 10px;}
/*글자크기라는 부분 조정*/
.util_menu .right li.btn_mp a{
	float: left; background: #fff; color: #333;
	width: 20px; height: 20px; line-height:20px; padding: 0;
	text-align: center; margin-right: 2px; /*마진으로 상자 갈라놈*/
	margin-top: 10px; /*중앙맞춰줌*/
}
/*- + 부분*/
.util_menu .right li:last-child a{padding-right:0;} /*1200간격 맞춤*/

.utilmenuWrap{width: 1200px; margin: 0 auto;}
.icon{margin-right: 30px;}
.menuOne li a{float: left; width: 50px;}