@charset "utf-8";

/*header*/

.util_menu_wrap{ background: #0044AF; }
.util_menu{ width: 1200px; margin: 0 auto; }
.util_menu .left{float: left;}
.util_menu .right{float: right;}

.util_menu .left li{float: left;width: 120px;margin-right: 5px;}
.util_menu .left li a{
	display: block; line-height:40px;
	text-align: center; background: #00163b;
	color:#fff; font-weight: bold;
}
.util_menu .left li a.active{background: white; color: #333;}
/*액티브 되어 있기 떄문에 계쏙 하얀배경에 글자 333으로ㅠ고정되어 있음
보여주기용으로 화ㅏ면 표시할때 스타일시트값이먹어져있음 본인사이트유지용*/
.util_menu .left li a:hover{background: white; color: #333;}

.util_menu .right li{float: left; color:#fff; font-size:0.8em;}
.util_menu .right li a{
	display: block; line-height:40px;
	padding: 0 10px; color: #fff;
}
.util_menu .right li:first-child{line-height:40px; padding-right: 10px;}
/*글자크기라는 부분 조정*/
.util_menu .right li.btn_mp a{
	float: left; background: #fff; color: #333;
	width: 20px; height: 20px; line-height:20px; padding: 0;
	text-align: center; margin-right: 2px; /*마진으로 상자 갈라놈*/
	margin-top: 10px; /*중앙맞춰줌*/
}
/*- + 부분*/
.util_menu .right li:last-child a{padding-right:0;} /*1200간격 맞춤*/

.utilmenuWrap{background: #fff;width: 1200px; margin: 0 auto; position: relative;}

.utilmenuWrap .icon{float:left;}
.utilmenuWrap .nav{float:right;}
.utilmenuWrap .menuOne{position: absolute; right:150px;}
.utilmenuWrap .menuOne li{
	float:left; width:120px;  font-size:18px; 
	height: 50px; line-height: 100px;
	text-align: center; font-weight: bold;
}
.utilmenuWrap .menuOne li a{ display:block; width: 100%;height: 100%; }
.utilmenuWrap .menuOne li:hover a{ color:#0044AF; } 
.utilmenuWrap .tabBtn{
	padding-top:5px;
	padding-left:60px;
}
.utilmenuWrap .tabBtn a{	
	margin-top: 30px;
	display: block; float:left;
	width: 45px; height: 45px;
}

/*contents*/
#contents{
	height: 1300px;/*나중에높이값 삭제*/
	background-image: url(../images/bg_dot.gif), url(../images/main_bg.jpg);
	background-repeat:repeat, no-repeat;
	background-position: center; /*사진을 가운데로*/
	background-size: auto, cover; /*최대한 위드 값에 맞춰줌*/
	padding-bottom: 100px; /*푸터 */
}


#contents .title{
	width: 1200px; height: 260px;
	margin: 0 auto; position: relative;
}

#contents .title .iconTxt{
	float: left;
	position: absolute;	
	letter-spacing: -8px;
	top: 75px;	
}
#contents .title .iconTxt p{ color:#fff; }
#contents .title .iconTxt p:first-child{ font-size:55px; }
#contents .title .iconTxt p:last-child{ font-size:65px; font-weight: 600; }
#contents .title .iconTwo{
	position: absolute;	
	right: 0;top:80px;
	width: 440px;	
}
#contents .title .iconTwo li{
	float:left;
	text-align: center;	
	width: 25%;	
	padding-right: 20px;
	font-weight: bold;
}
#contents .title .iconTwo li a{
	display:block;
	font-size:14px;
	color:#fff;
	width: 100%;height: 100%;	
}

/*slider*/
.bx-wrapper{
	-moz-box-shadow: none;
	-webkit-box-shadow: 
	none;box-shadow: none;
    border: none; 
    margin-bottom: 0;
}

ul.banner .slider1 li{position: relative;}
ul.banner .slider1 .sliderTxt{position: absolute; top: 80px; left: 100px;}
ul.banner .slider1 .sliderTxt p{
	color:#0044af; font-size:60px; 
	font-weight: 400; padding-bottom: 25px;
	letter-spacing: -5px;
}
ul.banner li .slider1 .sliderTxt a{
	display:block; width: 170px; height: 40px; 
	line-height: 40px; background: #192d4e; 
	color: #fff; text-align: center;
}

/*APP img2*/
.container .banner .img2{ position: relative; }

.img2 .img2Txt{ position: absolute; top:80px; left:40px; color: #fff;}

.container .banner .img2 h3{
	font-size:35px;
	font-weight: 200;
	line-height: 40px;	
	padding-bottom: 35px;
}
.container .banner .img2 p{
	font-size:16px;
	line-height: 20px;
	padding-bottom: 35px;
}
.container .banner .img2 a{
	border: 1px solid #fff;
	background-color: rgba(0,0,0,0.7);
	display:block;
	width: 170px;height: 40px;line-height: 40px;
	text-align: center;	
	color: #fff;
}


#contents .container{width: 1200px; margin: 0 auto; background: #fff;} 
#contents .container>ul>li{float: left; width: 25%; height: 225px; } 
#contents .container>ul>li:nth-child(2n){background: pink;} /*짝수값만 핑크 먹음 */
#contents .container>ul>li:nth-child(1){
	width: 75%; height: 450px; background: gray;
	position: relative; overflow: hidden;
}
#contents .container>ul>li:nth-child(2){_width: 25%; height: 450px;}
#contents .container>ul>li:nth-child(3){}
#contents .container>ul>li:nth-child(4){}
#contents .container>ul>li:nth-child(5){}
#contents .container>ul>li:nth-child(6){}
#contents .container>ul>li:nth-child(7){}
#contents .container>ul>li:nth-child(8){width: 75%;}