@charset "utf-8";

 .bx-wrapper{
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: 0 none;
			background: #fff;
			margin-bottom: 0;
		}

html,body{ height: 100%; } 
/*header*/
.headerMain{
	position: relative;
	background: #0763a2;
	height: 88px;
    background-image: url(../images/airplane.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
}

.headerWrap{ width: 980px; margin: 0 auto; position: relative; }
.headerWrap img{ 
	cursor: pointer; float: left; 
	padding-top: 3.5px; 
}
.headerWrap .sns li{ float: left; cursor: pointer; width: 25px; margin-left: 5px; }

.wrap{ 
	position: absolute; 
	/*background:pink;*/
	/*left: 50%; transform: translateX(-50%) translateY(-50%);*/
	/*transform: translate(-50%, -50%); 와 동일*/
	left:280px; top: 25px; z-index: 2; 
	 }
.wrap form{position: relative;} 
/*position: absolute 가능*/
.searchTitle{
	display: block;
	position: absolute;
	width: 60px; height: 20px;
	background-image: url(../images/searchtext.jpg);
	text-indent:-999px; left: 20px; top: 18px; z-index: 2;
	background-repeat: no-repeat;
	background-position: center;
	top:5px;
}

.searchInp{
	position: relative;
	width: 290px;height: 30px;
	text-indent:90px; font-size:14px;
	font-weight:bold; letter-spacing: -2px;
	border: 0 none;
	border-radius:25px; /*h50*/
}
.searchBtn{
	position: absolute;
	width: 28px;height: 28px;
	right: 10px; top: 50%; transform: translateY(-50%); /*버튼 위치*/
	border: 0 none; 
	background: #fff; 
	background-image: url(../images/search.jpg);
	background-repeat: no-repeat; 
	background-position: center; /*가운데 정렬*/
	text-indent:-99990px;
}

.headerWrap .ph{
	position: absolute; right: 150px; 
	color:#fff; font-size:27px; font-weight: 500;
	word-spacing: -5px; top:20px;
	 }
.headerWrap .sns{position: absolute; right: 0; top: 20px;}


.gnb{
	width: 100%; background: #f9f9f9; 
	border-bottom:4px solid #0e73a7;
}
.gnb .menu{width: 980px; margin: 0 auto;}
.gnb .gnbWrap li{
	float:left; width: 16.666%; height:40px;
	background: #f9f9f9; line-height: 40px;
	font-size:14px; font-weight: bold; 
}
.gnb .gnbWrap li a{
	display:block; text-align: center; 
	border-right: 1px solid #e0e0e0;
}
.gnb .gnbWrap li:first-child{border-left:1px solid #e0e0e0;}
.gnb .gnbWrap li:hover a{background-color: darkblue; color:#fff;}


/*container*/
html,body{height: 100%;}
#content{
	height: 1500px;
	background-image: url(../images/bg02.jpg);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	_overflow-x: hidden; /*스크롤 없애기*/
}
#content .container{
	width: 980px; margin: 0 auto;
	 position: relative; padding-top: 60px;}

.container .conSlide {margin-top: 40px;margin-bottom: 20px;}
.conSlide .sl{
	float:left;
	width: 480px; height: 565px;
}
.conSlide .sl .sr{width: 100%;height: 300px;background: #fff; margin-bottom: 20px;}


.sr{
    padding: 20px; 
}
.sr fieldset{
    border: 0 none;
    position: relative;
    left: 30px;
}
.sr fieldset label{
    float: left; display: block;
    font-weight: bold; letter-spacing: -3px;
}
.sr .ct{
    width: 280px;
}
.sr .go,.sr .stop{
    width: 130px;
}
.sr input.go,.sr input.stop{
	float: left;display: block; 
	height: 30px;color: #cdcdcd;
    border: 2px solid #ededed;
    text-indent: 3px;/*font-weight:bold;*/
    margin-top: 5px;margin-bottom: 10px;
    border-radius: 5px;
}
.sr .seat{float: left;width: 120px;margin-right: 20px;}
.sr .adult,.sr .baby{float: left;display: block;width: 66px;}
.sr .adult{margin-right: 8px;}
.sr .go{margin-right: 20px;}

.sr fieldset select{
    border: 2px solid #ededed;
    border-radius: 5px;height: 30px;
    color: #d2d2d2;text-indent: 3px;
    margin-top: 5px;margin-bottom: 10px;
}
.sr .searchSubmit{
    width: 282px;
    height: 38px;
    border: 0 none;
    background: #e8501f;
    border-radius: 10px;
    background-image: url(../images/searchSubmit.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
    margin-left: 140px;
    text-indent: -9999px;
    cursor: pointer;
}

.slTab{
    width: 130px;
    height: 300px;
    float: left;
    text-indent:-9999px;
}
.slTab a.slTab1{
    height: 75px; width: 120px;
    display: block;
    background: #006599;
}
.slTab a.slTab2{
    height: 75px; width: 120px;
    display: block;
    background: #0099cb;
}
.slTab a.slTab3{
    height: 75px; width: 120px;
    display: block;
    background: #0099cb;
}
.slTab a.slTab4{
    height: 75px; width: 120px;
    display: block;
    background: #0099cb;
}

@keyframes b1{
    0%{transform:translate(-250px, -70px);}
    50%{transform:translate(-250px, -100px);}
    100%{transform:translate(-250px, -70px);}
}
@keyframes b2{
    0%{transform:translate(-200px, -30px);}
    50%{transform:translate(-200px, -70px);}
    100%{transform:translate(-200px, -30px);}
}


.contents02 .b1{
    transform:translate(-250px, -70px);
    animation-name: b1;
    animation-duration: 5s;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}
.sectionOwn .b2{
    transform:translate(-200px, -30px);
    animation-name: b2;
    animation-duration: 5s;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}


.conSlide .sl ul.contents01 li{
	float:left; width: 230px; 
	height: 245px; position: relative;
}


.conSlide .sl ul.contents01 li:first-child{
	background:url(../images/프랑스.jpg) no-repeat center;
	background-size:cover;
	background position: 100px 0;
	margin-right: 20px;
}
.img01{
	position: absolute; left:0; bottom:0px; 
	width: 230px; height:40px line-height: 40px;
 	background:#152630;
}
.img01 a{
	display:block; width: 100%; color:#fff;
	height: 100%; line-height: 40px; margin-left:20px;
}

.img01 a span{color:#70c567;}

.conSlide .sl ul.contents01 li:nth-child(2){
	background:url(../images/일본.jpg) no-repeat center;
	background-size:cover;
}
.img02{
	position: absolute; left:0; bottom:0px; 
	width: 230px; height:40px line-height: 40px;
    background:#152630; 
}
.img02 a{
	display:block; width: 100%; color:#fff;
	height: 100%; line-height: 40px; margin-left:20px;
}
.img02 span{color:#70c567;}

.conSlide .contents02 {
	width: 480px; height: 565px;
	float:right; padding:20px; color:#000;

}
.conSlide .contents02 h1{font-size:65px; letter-spacing: -5px}
.conSlide .contents02 h1:after{
	content:""; display:block; width:80px; 
	border-bottom: 5px solid #000; margin-top:-2px; 
	margin-left: 232px;}
.conSlide .contents02 p{
	margin-top: 10px; font-size:27px; 
	font-weight: 500; line-height: 40px; 
	letter-spacing: -5px 
}


.container .main_section {width: 980px; margin: 0 auto;;}
.main_section ul {}
.main_section ul li {
	float:left; width: 230px; height: 245px; background: #f00;
	margin-right: 20px; margin-bottom: 20px;
}
.main_section ul li:nth-child(1){
}
.main_section ul li:nth-child(1){}
.main_section ul li:nth-child(1){}
.main_section ul li:nth-child(4){margin-right: 0; margin-bottom: 0;}
.main_section ul li:nth-child(5){margin-bottom: 0;}
.main_section ul li:nth-child(6){margin-bottom: 0;}
.main_section ul li:nth-child(7){margin-bottom: 0;}
.main_section ul li:nth-child(8){margin-right: 0; margin-bottom: 0;}
.bx-wrapper {
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow: none;
		border: 0 none;
		margin-bottom: 0;
		}


.sectionOwn,.sectionTwo{position: relative;}
.slider1 li,.slider2 li{
	position: absolute; width: 230px; 
	height: 245px; overflow: hidden; 
	cursor: pointer;
}
.slider1 li img,.slider2 li img{display:block; width: 100%;}
.slider1 .sliderALL, .slider2 .sliderALL{
	position: absolute; width: 100%;
	background: #529351; height:60px;
	left:0; bottom:0; padding-left:20px;
}
.slider2 .sliderALL{background: #152630;}



.slider1 .sliderALL a{
	color:white; margin-top: 15px; 
	line-height: 17px; display: block; 
}
.slider1 .sliderALL a:last-child{
	display:block; text-align: left; 
	margin: 0 auto; 
}
.slider1 .sliderALL:last-child span{color:#ffbb00;}

.slider2 .sliderALL a{
	color:white; padding-top: 15px;
	line-height: 17px; display: block;
}
.slider2 .sliderALL a:last-child{
	display:block; text-align: left; 
	margin: 0 auto;   
}
.slider2 .sliderALL:last-child span{color:#ffbb00;}


.nextBtn,.nextBtn2,.prevBtn,.prevBtn2{
	position: absolute; cursor: pointer; 
	top:50%; margin-top: -25%; 
}
.prevBtn,.prevBtn2 {left:0}
.nextBtn,.nextBtn2 {right:0}


.sectionThree {position: relative; overflow: hidden;}
.sectionThree img {display: block; width: 100%;}
.sectionThree h3{
	display: block; position: absolute; 
	top: 30px; left:50%; 
	transform: translate(-50%,-50%); 
	color:#fff; 
	width: 60px; height: 40px; 
	text-align: center; line-height: 40px;
}

.sectionThree .wt {
	width: 100%; height:60px; 
	background: rgba(0,0,0,0.7); 
	position: absolute; left: 0; bottom: 0;
	padding-top: 8px; 
}
.sectionThree .wt .w{font-weight: bold;}
.sectionThree .wt .s{font-size: 14px;}
.sectionThree .wt a{
	display: block; margin-left: 20px;
	color:#fff; line-height: 22px;
}




.sectionFour {position: relative; overflow: hidden;}
.sectionFour img {width: 105%;display: block; position: absolute;}
.sectionFour p:nth-child(1){ position: absolute; top:10%;left: 10px; color: #45639d;line-height:30px; }
.sectionFour p:nth-child(2){ position: absolute; top:30%;left: 10px; color: #595959;line-height:30px; }
.sectionFour p:nth-child(3){ position: absolute; top:50%;left: 10px; color: #7e7e7e;line-height:30px; }
.sectionFour p:nth-child(3) span{ color: #ffbb00; }
.sectionFour .face {
	width: 100%; height:60px; 
	background: #44619d; position:absolute; 
	left: 0; bottom: 0;
}
.sectionFour .face a{
	display: block; 
	line-height: 20px;
	margin-left: 20px;
	margin-top: 10px;
	color:#fff;
}
.sectionFour .face span{font-weight: bold;}



/*.contents07:hover .plus07,.contents10:hover .plus10,.contents08:hover .plus08,
.contents09:hover .plus09{transform: rotate(180deg);}*/


.sectionFive,.sectionEight {overflow: hidden; position: relative;}
.sectionFive .section_img{display: block; width: 160%; left: 0;}
.sectionEight .section_img{transform:translate(-130px,-70px);}
.sectionFive .st5{
	position: absolute;
	width: 100%;height: 100%;
	left:0; top:0; padding: 20px;
	background: rgba(0,120,135,0.4); 
}
.sectionEight .st8 {
	position: absolute;
	width: 100%;height: 100%;
	left:0; top:0;padding: 20px;
	background-color: hsla(110,20%,50%,0.4); 
}
.sectionFive .st5 p,.sectionEight .st8 p{
	color:#fff; text-align: center; 
	line-height: 20px; margin-bottom:10px;
	letter-spacing: -3px;
}
.sectionFive strong,.sectionSix strong,
.sectionSeven strong,.sectionEight strong{font-size:24px;} 

.sectionFive .st5 .plus1,.sectionEight .st8 .plus4{
	display: block;margin: 0 auto; 
	width:15%; transition:0.3s;
}
.sectionFive .st5:hover .plus1,.sectionSix .st6:hover .plus2,
.sectionSeven .st7:hover .plus3,.sectionEight .st8:hover .plus4{transform: rotate(90deg);}

.sectionSix,.sectionSeven{overflow: hidden; position: relative;}
.sectionSix .section_img{
	display: block; width: 160%; 
	transform:translate(-50px,0);
}
.sectionSeven .section_img{
	display: block; width: 200%; 
	transform: translate(-80px,0);
}
.sectionSix .st6,.sectionSeven .st7{
	position: absolute;
	left:0; top:0;
	width: 100%;height: 100%;
	background: rgba(0,0,0,0.6);
	padding: 80px 20px 20px 20px;
}
.sectionSix .st6 p,.sectionSeven .st7 p{
	color:#fff; text-align: center;
	line-height: 20px; margin-bottom:10px;
	letter-spacing: -3px;
}
.sectionSix .st6 .plus2,.sectionSeven .st7 .plus3{
	display: block;margin: 10px auto; 
	width:15%; transition:0.3s;
}



/*footer*/
#footer .foot{width: 980px; margin: 0 auto; margin-top: -250px;}
#footer .foot li{float: left; margin-left: 30px;}
#footer .foot li:first-child{margin-left: 0;}
#footer .foot ul{margin-bottom: 10px;}
#footer .foot a{display: block;}
#footer .foot p{color: #717171; font-size: 0.8em;}



